.add-to-do {
  position: relative;
  width: 360px;
  height: 40px;
  background-color: $white;
  padding: 10px;
  border-top: 1px solid $grey;
  i {
    position: absolute;
    font-size: 40px;
    color: $blue;
  }
  input {
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left: 10px;
  }
}
